/* Variables */
:root{
    --primaryColor: #000066;
    --accentColor: #3333ff;
    --contrastColor: white;
    --alternateText: black;
    --alertColor: red;
    --padding: 8px;
    --margin: 4px;
    --radius: 8px;
    --border: 4px;
}
/* Global Styling */
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header */
header{
    color: var(--contrastColor);
    background-image: linear-gradient(90deg, var(--accentColor), var(--primaryColor));
}
h1{
    padding: var(--padding);
    text-align: center;
}

/* Aside */
aside{
}
button{
    width: 75%;
}
button:hover{
    background-color: var(--accentColor);
    color: var(--contrastColor);
}
i{
    font-size: 24px;
}
i:hover{
    color: var(--alertColor);
}

/* Main */
main{
    display: none;
}
#currentConditions, #forecast{
    border: var(--border);
    border-style: solid;
    border-color: var(--primaryColor);
    margin: var(--margin);
    padding: var(--padding);
}
.weatherCard{
    display: inline-block;
    padding: var(--padding);
    margin: var(--margin);
    border-radius: var(--radius);
    color: var(--contrastColor);
    background-color: var(--primaryColor);
}